/* p:first-child{
    color: blue;
}
p:last-child{
    color: red;
} 

p:nth-child(2){
    color: orange;
}
p:nth-last-child(3){
    color: green;
}

p:nth-child(2n+1){
    color: violet;
}

p:nth-child(even){
    color: violet;
}    PARA PARES

p:nth-child(odd){
    color: violet;
}  PARA IMPARES


*/


p:nth-child(n){
    color: violet;
}



