*{
    font-size: 16px;
}

body {
    background-image: url("../img/watercolor.jpg");
    padding-left: 11em;
    font-family: 'Sofia Sans', sans-serif;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}
/* p {
    color: rgb(241, 45, 15)!important;
} */

#primer-especial {
    color: rgb(24, 24, 214);
} 

/* .especial {
    color: rgb(122, 166, 45);
} */

/* p {
    color: rgb(188, 135, 22);
} */

.navbar {
    background-color: #911717;
    padding-top: 10px;
    padding-bottom: 10px;
}
.rs {
    list-style: none;
}





